@{
    ViewData["Title"] = "Expired";
}

<div class="text-center">
    <h1 class="display-4">Url is Expired</h1>
    <p><a href="@Url.Action("Index", "UrlShortener")">back to urls list</a></p>
</div>
